.arrow-btn {
  width: 60px;
  height: 60px;
  margin: 0 15px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.2s,
    transform 0.1s;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  padding: 0;
}

.arrow-btn:active,
.arrow-btn.active {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0.95);
}
