.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../public/brick-wall.avif");
}
